[main]
## Service specific
 # Do not print anything except warnings and errors
quiet = no
 # Print debug level messages (takes precedence over quiet)
debug = yes

## Display specific
vcom = -2.08
 # None / CW / CCW / flip
rotate = None
spi_hz = 24000000

## Layout
rows = 12
cols = 8

 # Draw horizontal or vertical lines along edges of rows and columns
 # uses borderWidth, borderCol
lines = yes
lines_hor = # FORMAT: row, col[-col]
    2, 0-2
    2, 2-5
    2, 5-8
    9, 0-5
lines_vert = # FORMAT: col, row[-row]
    5, 0-12

 # Draw borders around every widget
borders = no
borderWidth = 4
            # 0 - 255 (blk - white)
borderCol = 64

 # Background color (0 - 255)
background = 255

## Global widget options

 # Margin (widgets decide whether to apply this or not)
widgetMargin = 8
 # Global font family
font = Roboto-Regular

#### Widgets ####

[Dummy]
enabled = yes
 # Refresh interval in minutes
refreshInterval = 1
 # row and col span
 # syntax: 'a' or 'a-b' for multi-col/multi-row
 # row/col nums start at 0
row = 0-1
col = 0-1
 # invert colors
invert = no

[Clock]
enabled = yes
 # Refresh interval in minutes
refreshInterval = 1
 # Update every second with partial monochrome refreshes
fastUpdate = yes
 # Display (small) seconds next to time
displaySeconds = yes
flashColon = no
 # row and col span
row = 0-1
col = 5-7
 # invert colors
invert = no
textColor = 0
fontSize = 84
 # font family for seconds
fontSecs = Roboto-Medium

[Calendar]
enabled = yes
refreshInterval = 15
row = 2-11
col = 5-7
invert = no

titleSize = 34
fontSize = 22
 # Display appointments up to this many days ahead
daysAhead = 3
 # Maximum number of text lines per calendar item
maxLines = 3

 # Configure calendar provider (currently: Demo / Google)
provider = Demo

 # For Google calendar:
googleCalendars =
    # Get calendar id's together with token.json by running get-google-calendars on your local computer
    primary
    # More calendar id's here

[Rain]
enabled = yes
refreshInterval = 10
row = 9-11
col = 0-4
invert = no

fontSize = 20
 # Latitude / Longitude
lat = 52.093
lon = 5.104

[Weather]
enabled = yes
refreshInterval = 30
row = 2-8
col = 0-4
invert = no

 # Width of lines between elements
lineWidth = 1
 # Line color
lineCol = 64
 # Last part of URL, after 'https://www.weerplaza.nl/'
locationID=nederland/eindhoven/9020/
 # Display this many hours ahead (max. 48)
hours = 6
 # Display this many days ahead (max. 7)
days = 3


