[main]
## Service specific
 # Do not print anything except warnings and errors
quiet = no
 # Print debug level messages (takes precedence over quiet)
debug = yes

## Display specific
display_class = display
vcom = -2.08
 # None / CW / CCW / flip
rotate = None
spi_hz = 24000000
 # only used for display_png display class
#file = infodisplay.png
#width = 800
#height = 600

## Layout
rows = 12
cols = 8

 # Draw horizontal or vertical lines along edges of rows and columns
 # uses borderWidth, borderCol
lines = yes
lines_hor = # FORMAT: row, col[-col]
    2, 0-5
    2, 5-8
    9, 0-5
lines_vert = # FORMAT: col, row[-row]
    5, 0-12

 # Draw borders around every widget
borders = no
borderWidth = 4
            # 0 - 255 (blk - white)
borderCol = 64

 # Background color (0 - 255)
background = 255

## Global widget options

 # Margin (widgets decide whether to apply this or not)
widgetMargin = 8
 # Global font family
font = Roboto-Regular

#### Widgets ####

[Dummy]
enabled = yes
 # Refresh interval in minutes
refreshInterval = 1
 # row and col span
 # syntax: 'a' or 'a-b' for multi-col/multi-row
 # row/col nums start at 0
row = 0-1
col = 0-1
 # invert colors
invert = no

[Clock]
enabled = yes
 # Refresh interval in minutes
refreshInterval = 1
 # Update every second with partial monochrome refreshes
 # (can cause burn-in!)
fastUpdate = no
 # Display (small) seconds next to time
displaySeconds = no
flashColon = no
 # row and col span
row = 0-1
col = 5-7
 # invert colors
invert = no
textColor = 0
fontSize = 84
 # font family for seconds
fontSecs = Roboto-Medium

[Calendar]
enabled = yes
refreshInterval = 15
row = 2-11
col = 5-7
invert = no

titleSize = 34
fontSize = 22
 # Display appointments up to this many days ahead
daysAhead = 3
 # Maximum number of text lines per calendar item
maxLines = 3

 # Configure calendar provider (currently: Demo / Google)
provider = Demo

 # For Google calendar:
googleCalendars =
    # Get calendar id's together with token.json by running get-google-calendars on your local computer
    primary
    # More calendar id's here

[Rain]
enabled = yes
refreshInterval = 10
row = 9-11
col = 0-4
invert = no

fontSize = 20
 # Latitude / Longitude
lat = 52.093
lon = 5.104

[Weather]
enabled = yes
refreshInterval = 30
row = 2-8
col = 0-4
invert = no

 # Width of lines between elements
lineWidth = 1
 # Line color
lineCol = 64
 # Last part of URL, after 'https://www.weerplaza.nl/'
locationID=nederland/eindhoven/9020/
 # Display this many hours ahead (max. 48)
hours = 6
 # Show every n hours (1 = show all, 2 = skip every other hour, ...)
skipHour = 2
 # Display this many days ahead (max. 7)
days = 3

[MQTT]
enabled = no
 # Refresh interval in minutes
refreshInterval = 1
 # row and col span
 # syntax: 'a' or 'a-b' for multi-col/multi-row
 # row/col nums start at 0
row = 0-1
col = 0-4
 # invert colors
invert = no
titleSize = 24
fontSize = 36
 # MQTT host
server = hackalot.nl
port = 1883
 # Elements to display
 # format: Title, MQTT topic, float decimals (or 'raw'), unit (optional)
elements = 
    Indoor,hackalot/climate/temperature-HTU21D,1,°C
    RH,hackalot/climate/RH-HTU21D,0,%%
    CO2,hackalot/climate/operame,0, ppm
    Spacestate,hackalot/state,raw

[Transport]
enabled = no
refreshInterval = 1
row = 0-1
col = 0-4
invert = no
titleSize = 26
fontSize = 22
 # Widget specific
 # How often to fetch new data from the API (minutes)
 # (should be divisible by refreshInterval!)
fetchInterval = 5
 # Orientation (landscape/portrait)
orientation = landscape
 # Show header with name of stop (and optional time)
showHeader = yes
showHeaderTime = no
 # Show footer with line / dest / time (landscape only)
showFooter = no
 # Show minutes to departure instead of departure time (HH:MM)
departureMins = yes
 # Width of lines between elements (portrait)
lineWidth = 1
 # Line color
lineCol = 64
 # Information provider
provider = vertrektijd
 # Get an API key from https://www.vertrektijd.info/
apiKey = 
# Specify town and stop name as "Town, Stop" and the widget will show all lines and directions there
stopName = Voorburg, Leidschendam-Voorburg
 # (Comma-separated) list of stop codes, use either stopName or this
#stopCodes = 
 # Optional line number filter (comma-separated)
#lineNumbers = 3, 34
